{% extends 'notes_app/base.html' %}

{% block content %}
      <header class="menuHeader">
          <h1>NotesApp, Version 1.0</h1>
          <h4>Jot those thoughts down! Save your valuable thoughts in this convenient mobile application!</h4>
      </header>

      <!-- <div class="parent-container container mt-3"> -->
        <!-- Grid row -->
      <div class="row d-flex justify-content-center">
          <!-- Grid column -->
          <div class="col-md-2 pl-3 pl-md-0 pb-5">
          <!-- Stepper -->
              <div class="steps-form-3">
                  <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
                      <div class="steps-step-3">
                          <a href="#step-1" type="button" class="btn btn-info btn-circle-3 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Create New Account (Step 1)"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>
                      </div>
                      <div class="steps-step-3">
                          <a href="#step-2" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Create New Account (Step 2)"><i class="fa fa-user" aria-hidden="true"></i></a>
                      </div>
                      <div class="steps-step-3">
                          <a href="#step-3" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Verify Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                      </div>
                      <div class="steps-step-3 no-height">
                          <a href="{% url 'login' %}" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-7">
          <!-- Grid column -->
          {% if signupForm %}
          <!-- First Step -->
              <form action="{% url 'signup' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="row setup-content-3" id="step-1">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h3 class="font-weight-bold pl-0 my-4"><strong>Create New Account (Step 1)</strong></h3>
                        {% if error_message %}
                          <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                          </div>
                        {% endif %}
                        {% if success_message %}
                          <div class="alert alert-success" role="alert">
                            {{ success_message }}
                          </div>
                        {% endif %}
                        {% for field in signupForm %}
                          {% if field.name in firstList %}
                            <div class="form-group md-form">
                              <!-- {{ field.label_tag }} -->
                              {{ field }}
                              <label style="width: 100%" for="{{ field.name }}" data-error="{{ field.help_text }}" >{{ field.label }}</label>
                              {% if field.errors %}
                                {% for error in field.errors %}
                                  <small><a href="#id_{{ field.name }}">{{ error|escape }}</a></small>
                                {% endfor %}
                              {% endif %}
                            </div>
                          {% endif %}
                        {% endfor %}
                        <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Next</button>
                      </div>
                    </div>
                </div>

                <!-- Second Step -->
                <div id="jumpto">
                <div class="row setup-content-3" id="step-2">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h3 class="font-weight-bold pl-0 my-4"><strong>Create a New Account (Step 2)</strong></h3>
                        {% for field in signupForm %}
                          {% if field.name not in firstList %}
                            <div class="form-group md-form">
                              <!-- {{ field.label_tag }} -->
                              {{ field }}
                              <label control-label style="width: 100%" for="{{ field.name }}" data-error="{{ field.help_text }}" >{{ field.label }}</label>
                              {% if field.errors %}
                                {% for error in field.errors %}
                                  <small><a href="#id_{{ field.name }}">{{ error|escape }}</a></small>
                                {% endfor %}
                              {% endif %}
                            </div>
                          {% endif %}
                        {% endfor %}
                        <button class="btn btn-mdb-color btn-rounded nextBtn-3 float-right" type="button">Next</button>
                      </div>
                    </div>
                </div>
              </div>

                <!-- Third Step -->
                <div class="row setup-content-3" id="step-3">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h3 class="font-weight-bold pl-0 my-4"><strong>Submit & Verify Email (Step 3)</strong></h3>
                        <p class="text-left my-4">Click the "Submit" button to send an email verification link then verify your email to complete registration.</p>
                        <button class="btn btn-mdb-color btn-rounded prevBtn-3" type="button">Previous</button>
                        <button class="btn btn-success btn-rounded" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
          {% endif %}

          </div>
        </div>
{% endblock %}
