{% extends 'notes_app/base.html' %}

{% block content %}
{% load staticfiles %}
    <header class="menuHeader">
      <h1>Welcome {{ user.first_name }},</h1>
      <h4>Below you will find all your notes.  For a new note, click the create button. </h4>
      <div class="col-6">
        <a class="btn btn-mdb-color btn-rounded" href="{% url 'createNote' %}"><i class="fa fa-pencil-square-o mr-1" size="2x"></i>Create</a>
      </div>
    </header>


    <!-- Post any success or error messages-->
    {% if error_message %}
    <div class="card mb-5">
      <div class="card-body mb-5 pb-5">
        <div class="container">
          <div class="form-group">
              <div class="alert alert-danger" role="alert">
                {{ error_message }}
              </div>
            {% endif %}
            {% if success_message %}
              <div class="alert alert-success" role="alert">
                {{ success_message }}
              </div>
            {% endif %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
              {% endfor%}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!--Rotating card-->
    {% if notes_List %}
    <div class="container">
        <div class="card mb-5 pt-1">
            <div id="noteRow" class="row">
              {% for note in notes_List %}
              <!-- Rotating card -->
              <div id="noteCardWrapper" class="card-wrapper m-3">
                <div id="{{ note.id }}" class="card-rotating effect__click text-center h-100 w-100">

                  <!-- Front Side -->
                  <div class="face front scrollbar scrollbar-info">

                    <!-- Image-->

                    <div class="card-up">
                        <a class="rotate-btn" data-card="{{ note.id }}">
                      <!-- <a id="noteA-tag" href="#{{ note.id }}" data-toggle="modal" data-target="#{{ note.id }}"> -->
                        <img class="card-img-top"  src="{% static 'notes_app/img/stickyNote.png' %}" alt="thumbnail" style="width: 10rem">
                        <p id="noteTitle">{{ note.title }}</p></a>
                      <!-- </a> -->
                      <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg" class="img-fluid"> -->
                    </div>
                    <!--Avatar-->
                    <div class="avatar">
                      <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" class="rounded-circle img-responsive"> -->
                    </div>
                    <!--Content-->
                    <div class="card-body">
                      <!-- <h4>{{ note.title }}</h4> -->
                      <!-- <p>Web developer</p> -->
                      <!--Triggering button-->
                      <a class="rotate-btn" data-card="{{ note.id }}">
                        <i class="fa fa-repeat"></i> Click to rotate</a>
                    </div>
                  </div>
                  <!--/.Front Side-->

                  <!--Back Side-->
                  <!-- Back Side -->

                  <div class="face back scrollbar scrollbar-info">
                      <div class="card-body force-overflow">
                        <a class="rotate-btn" data-card="{{ note.id }}">
                        <!--Content-->
                        <h4>Note:</h4>
                        <hr>
                        <p>{{ note.note }}</p>
                        <hr>

                        <small> Current Labels:
                          {% for label in note.label_set.all %}
                            {{ label.label }}.
                          {% endfor %}
                        </small>
                      </a>
                        <!--Nav Icons-->
                        <div class="row m-1">
                          <!-- <a class="btn-sm btn-mdb-color btn-rounded float-left" href="{% url 'createLabel' note.id %}"><i class="fa fa-envelope-open-o mr-1" size="2x"></i>Email</a> -->
                          <a class="btn-sm btn-mdb-color btn-rounded" href="{% url 'createLabel' note.id %}"><i class="fa fa-bookmark-o mr-1" size="2x"></i>Label</a>
                          <a class="btn-sm btn-mdb-color btn-rounded" href="{% url 'updateNote' note.id %}"><i class="fa fa-wrench mr-1" size="2x"></i>Update</a>
                          <a class="btn-sm btn-danger btn-rounded" href="{% url 'delete_note' note.id %}"><i class="fa fa-trash-o mr-1" size="2x"></i>Delete</a>
                        </div>

                        <!--Triggering button-->
                        <br>
                        <a class="rotate-btn" data-card="{{ note.id }}">
                          <i class="fa fa-undo"></i> Click to rotate back</a>
                      </div>
                  </div>
                  <!--/.Back Side-->
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
      <!--/.Rotating card-->

    <!--  A list of all notes is generated upon access of this page's view - accounts -->


    <!-- Create a new Note Uses CreateView in views.py-->

      <!-- Create Label Form -->
      {% if createLabelForm %}
      <div class="card mb-5">
        <p id="note_intro">This will create a searchable label tag for the note titled: {{ noteTitle }} </p>
        <div class="card-body mb-5 pb-5">
          <div class="container">
            <form role="form" action="{% url createLabel class=note_id %}" method="post" novalidate>
              {% csrf_token %}
              <div class="form-group">
                  {% for field in createLabelForm %}
                  <div class="form-group md-form">
                    {{ field.label_tag }}
                    {{ field }}
                    <label style="width: 100%" for="{{ field.name }}" data-error="{{ field.help_text }}" >{{ field.label }}</label>
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <small><a href="#id_{{ field.name }}">{{ error|escape }}</a></small>
                      {% endfor %}
                    {% endif %}
                    <a href="{% url 'accounts' %}" class="btn btn-mdb-color btn-rounded float-left"><i class="fa fa-window-close-o mr-1" size="2x"></i>Cancel</a>
                    <button class="btn btn-success btn-rounded float-right" type="submit">Add Label</button>
                  </div>
                  {% endfor %}
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
{% endblock %}
