{% extends 'notes_app/base.html' %}

{% block content %}
  {% load static %}
    <header class="menuHeader">
      <h1>Welcome {{ user.first_name }},</h1>
      <h4>To submit your changes to the note click the "Update" button. </h4>
    </header>

    <div class="card mb-5">
      <div class="card-body mb-5 pb-5">
        <div class="container">
          <div class="form-group">
          {% if object.notes_id != user.pk %}
                  <div class="alert alert-danger" role="alert"><p>You do not own the note!</p></div>
          {% else %}
            <form  role="form" method="post" novalidate>
              {% csrf_token %}
              <div class="form-group">
                  <div class="form-group md-form">
                    <!-- {{ field.label_tag }} -->
                    <form method="post">
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <a href="{% url 'accounts' %}" class="btn btn-mdb-color btn-rounded float-left"><i class="fa fa-window-close-o mr-1"></i>Cancel</a>
                        <button class="btn btn-danger btn-rounded float-right" type="submit"><i class="fa fa-trash-o mr-1"></i>Delete</button>
                    </form>
                  </div>
              </div>
            </form>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
