{% extends 'notes_app/base.html' %}

{% block content %}
  <header class="menuHeader">
      <h1>NotesApp, Version 1.0</h1>
  </header>

  <div class="row d-flex justify-content-center">
    <!-- Grid column -->
    <div class="col-md-2 pl-3 pl-md-0 pb-5">
    <!-- Stepper -->
        <div class="steps-form-3">
            <div class="steps-row-3  d-flex justify-content-between">
                <div class="steps-step-3">
                    <a href="{% url 'index' %}" class="btn btn-info btn-circle-3 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Create New Account (Step 1)"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>
                </div>
                <div class="steps-step-3">
                    <a href="{% url 'index' %}" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Create New Account (Step 2)"><i class="fa fa-user" aria-hidden="true"></i></a>
                </div>
                <div class="steps-step-3">
                    <a href="{% url 'index' %}" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Verify Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </div>
                <div class="steps-step-3 no-height">
                    <a href="{% url 'login' %}" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
      <form role="form" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Login</strong></h3>
                {% for field in form %}
                  <div class="form-group md-form">
                    <!-- {{ field.label_tag }} -->
                    {{ field }}
                    <label style="width: 100%" for="{{ field.name }}" data-error="{{ field.help_text }}" >{{ field.label }}</label>
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <small><a href="#id_{{ field.name }}">{{ error|escape }}</a></small>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endfor %}
                <a href="{% url 'reset' %}" class="btn btn-mdb-color btn-rounded float-left"><i class="fa fa-window-close-o mr-1" size="2x"></i>Reset Password</a>
                <button class="btn btn-success btn-rounded float-right" type="submit">Submit</button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
