{% extends 'notes_app/base.html' %}

{% block content %}
  {% load static %}
  <header class="menuHeader">
    <h1>NotesApp Password Reset</h1>
    <h4>Completed, you may login again. </h4>
  </header>

  <div class="card mb-5">
    <div class="card-body mb-5 pb-5">
      <div class="container">
        <div class="form-group">
          <p>The password has been changed!<p>
          <a href="{% url 'login' %}" class="btn btn-mdb-color btn-rounded float-left"><i class="fa fa-user-o mr-1"></i>Login</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
