{% extends 'notes_app/base.html' %}

{% block content %}
{% load static %}
  <header class="menuHeader">
    <h1>NotesApp Password Reset</h1>
    <h4>Please check your email to complete the password reset. </h4>
  </header>

  <div class="card mb-5">
    <div class="card-body mb-5 pb-5">
      <div class="container">
        <div class="form-group">
          <header class="menuHeader">
            <h4>
              We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
            </h4>
          </header>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
