{% extends 'notes_app/base.html' %}

{% block content %}
{% load staticfiles %}
  <header class="menuHeader">
    <h1>NotesApp Password Reset</h1>
    <h4>To reset your password, enter in your email address below. </h4>
  </header>

  <div class="card mb-5">
    <div class="card-body mb-5 pb-5">
      <div class="container">
        <div class="form-group">
          <form method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
              <label style="width: 100%" for="{{ form.name }}" data-error="{{ form.help_text }}" >{{ form.email.label }}</label>
              {{ form.name }}
              <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-mdb-color btn-rounded" value="Reset password">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
